<div>
    <div class="post">
        <p class="title">User</p>
        <p class="title" style="margin-left: 50px;"> Date time</p>
        <p class="title" style="float: right;">Location</p>
        <p>Labels area</p>
        <textarea style="width: 100%;" readonly>
            Post text area
        </textarea>   
        <br>
        <textarea style="width: 100%;" readonly>
            Post attachments 
        </textarea>
        <br>
        <p class="title">No. of views</p>
        <p class="title" style="float: right;">Rating</p>
    </div>
</div>