<div class="container">
    <div *ngFor="let post of posts" class="post">
        <p class="titleUserName">{{[post.user.userName]}}</p>
        <p class="title" style="margin-left: 50px;"> {{post.createdTime}}</p>

        <p class="title" style="float: right;">Location</p>
        <p style="font-style: italic;">Labels area</p>

        <ul>    
        <li *ngFor="let label of post.postLabels">
            {{label.content}}
        </li>
        </ul>
        <textarea class="textPost" style="width: 100%;" readonly>
            {{post.text}}
        </textarea>   
        <br>
        <textarea style="width: 100%;" readonly>
            Post attachments 
        </textarea>
        <br>
        
        <p class="title">No. of views: {{post.views}}</p>
        <p class="title" style="float: right;">Rating: {{post.rate}}</p>
        <br>
        
        <div style="text-align: center;">
            <label for="rate">Enter rating</label>
            <select [(ngModel)]="rating" name="rating" name="rate">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <button mat-raised-button (click)="RatePost(post.id)">Rate</button>
        </div>
       
      <div>
            <ul >
             <div class="add-comment"><p>Comments:</p> <button (click)="showCommentForm( post.id)">Add new comment</button></div>
             <div *ngIf="showCommentFormForPost === post.id">
                <form>
          
                  <label for="text">Comment:</label>
                  <textarea id="text" name="text" [(ngModel)]="newComment"></textarea>
          
                  <button (click)="addComment(post.id)">Submit</button>
                </form>
            
             </div>   
             <li *ngFor="let comment of post.comments">
                        
                <div> <p>{{comment.username}} : {{comment.text}}</p> <div *ngIf()></div></div> 
                  
              
              </li> 
            </ul>
        </div>
    </div>
</div>