<div>
    <div *ngFor="let post of posts" class="post">
        <p class="title">{{[post.user.userName]}}</p>
        <p class="title" style="margin-left: 50px;"> {{post.createdTime}}</p>
        <p class="title" style="float: right;">Location</p>
        <p>Labels area</p>
        <ul>    
        <li *ngFor="let label of post.postLabels">
            {{label.content}}
        </li>
        </ul>
        <textarea style="width: 100%;" readonly>
            {{post.text}}
        </textarea>   
        <br>
        <textarea style="width: 100%;" readonly>
            Post attachments 
        </textarea>
        <br>
        <p class="title">No. of views: {{post.views}}</p>
        <p class="title" style="float: right;">Rating</p>
        <div class="comments"> 
            <ul *ngIf="post.comments && post.comments.length > 0">
                <li *ngFor="let comment of post.comments">
                     {{ comment.text }} 
                </li>
            </ul>
        </div>
    </div>
</div>