.post{
    width: 500px;
    border-style: solid;
    padding: 10px;
}
.title{
    display: inline-block;
    vertical-align: top;
}
.editPost{
    padding: 10px;
    margin-top: 20px;
    border-style: dashed;
}